{% extends "base.html" %}

{% block content %}

<main>


    <div class="container marketing" style="padding-top: 100px;">

        <!-- Three columns of text below the carousel -->
        <div class="row">
            <div class="col-lg-4">
                <img
                    src="https://res.cloudinary.com/leonardocintra/image/upload/w_400,h_400,c_fill,g_auto,r_max/w_200/diord_rhud5h.jpg" />

                <h2>Diógenes</h2>
                <p>Chefao da banda, pai de 4 filhos, toca violão e arrasa corações</p>
            </div><!-- /.col-lg-4 -->
            <div class="col-lg-4">
                <img
                    src="https://res.cloudinary.com/leonardocintra/image/upload/w_400,h_400,c_fill,g_auto,r_max/w_200/amanda_zuyhkh.jpg" />

                <h2>Amanda</h2>
                <p>Esposa do chefão. Somente canta e deixa os convidados encantados</p>
            </div><!-- /.col-lg-4 -->
            <div class="col-lg-4">
                <img
                    src="https://res.cloudinary.com/leonardocintra/image/upload/w_400,h_400,c_fill,g_auto,r_max/w_200/paulatras_jaovdz.jpg" />

                <h2>Paulo</h2>
                <p>Ibiraciense que toca violino na banda e ganha dinheiro com eles</p>
            </div><!-- /.col-lg-4 -->
        </div><!-- /.row -->

    </div><!-- /.container -->
    {% endblock %}